#footer-company-title {
    margin-top: 0;
    color: #ffffff;
    font-size: 100%;
    font-weight: 600;
    line-height: 20px !important;
    font-family: 'Poppins';
}

.redLine {
    background-color: red;
    width: 100px;
    height: 2px;
    margin: 0 auto;
}

footer {
    background-color: #505050;
    color: #afb0b2;
    padding: 8% 10%;
    padding-bottom: 3em;
    text-align: center;
    clear: right;
}

#footer-top-left{
    margin-bottom: 10%;
}


.bottom-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-logo {
    width: 65%;
    height:10%
}

@media screen and (min-width:43em) {

    footer {
        width: auto;
        display: flex;
        padding: 8% 6% 0;
        justify-content: space-around;
        column-gap: 5%;
    }

    #footer-top-left, #footer-top-right{       
        width: 45%;
    }

    #footer-logo {
        width: 80%;
        height:20%
    }
}

@media screen and (min-width:70em) {
    #footer-logo {
        width: 50%;
        height:25%
    }
}
